@import url("chrome://global/skin/in-content/common.css");

* {
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
    height: 96px;
    padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 48px 1fr;
  max-width: 400px;
  padding: 8px;
  grid-gap: 8px;
}

.icon {
  width: 100%
}

.only-once {
  grid-column: 2;
}
