@keyframes highlight {
    0%{
        background: rgba(43, 153, 255, 0);
    }
    50%{
        background: rgba(43, 153, 255, 1);
    }
    100%{
        background: rgba(43, 153, 255, 0);
    }
}

.social-share-button-on {
    animation-name: highlight;
    animation-duration: 1.5s;
}
