/* NAAR Extensions Survey specifics - included at the bottom of Style -> HTML/CSS Editor -> Custom CSS */

.extension-icon {
  float: left;
  padding-right: 1em;
  border: 0;
  margin: 0;
  width: 64px;
}
.extension-name {
  font-size: 20px;
}
.extension-need {
  clear: none;
}
.extension-need li.sg-first-li.sg-other-li input.sg-input-radio {
  visibility: hidden;
}
.extension-need li.sg-first-li.sg-other-li label {
  margin-left: 0;
}
